.todo {
  margin: 0 10px 0 10px;
}

.list {
  max-width: 100% !important;
  display: flex;
  justify-content: space-between;
}

.removeIcon {
  display: flex;
  justify-content: space-between;
  color: rgb(156, 36, 36);
  margin-top: 6vh !important;
  margin-right: 20px !important;
}

.editButton {
  color: rgb(156, 36, 36);
  margin-right: 20px !important;
}

.listText {
  margin-top: 5px !important;
}

.updateButton {
  color: rgb(10, 156, 22) !important;
  text-transform: inherit !important;
  margin: 0 0 0 10px !important;
  background-color: rgba(182, 173, 162, 0.424) !important;
  height: 25px !important;
}

.updateInput {
  margin-top: 20px !important;
  width: 70% !important;
  height: 20px !important;
}

button:hover {
  cursor: pointer;
}

.removeIcon:hover {
  cursor: pointer;
}
